@model AFI.Feature.QuoteForm.Areas.AFIQuoteForm.Models.MotorcycleForm.MotorcycleForm

@foreach (var section in Model.form.sections)
{
    if (section.id == "eligibility")
    {
        @Html.Partial("~/Views/AFI/Quote/Partial/_InsuranceEligibility.cshtml", section)
    }

    if (section.id == "eligibilityDetails")
    {
        @Html.Partial("~/Views/AFI/Quote/Partial/_MilitaryInformation.cshtml", section)
    }

    if (section.id == "eligibilityDetailsParent")
    {
        @Html.Partial("~/Views/AFI/Quote/Partial/_ChildInformation.cshtml", section)
    }

    if (section.id == "eligibilityDetailsChild")
    {
        @Html.Partial("~/Views/AFI/Quote/Partial/_ParentInformation.cshtml", section)
    }

    if (section.id == "policyHolder")
    {
        @Html.Partial("~/Views/AFI/Quote/Partial/MotorCycle/_StepOne.cshtml", Model)
    }
    if (section.id == "vehicleSummary")
    {
        @Html.Partial("~/Views/AFI/Quote/Partial/MotorCycle/_StepTwo.cshtml", Model)
    }
    if (section.id == "householdViolations")
    {
        @Html.Partial("~/Views/AFI/Quote/Partial/MotorCycle/_StepThree.cshtml", Model)
    }
    if (section.id == "coverageHistory")
    {
        @Html.Partial("~/Views/AFI/Quote/Partial/MotorCycle/_StepFour.cshtml", Model)
    }
}


<section class="quote_request__action_buttons">
    <div class="container d-flex">
        <button id="MCBackBtn" class="button button__back button__left hide" type="button">@Model.form.backButtonText</button>
        <button id="MCNextBtn" class="button button__next button__right" type="submit"> @Model.form.nextButtonText</button>
    </div>
</section>


<script>
    var successRedirection = "/Quote-Forms-Save-Success";
</script>

