@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.ExperienceForms.Mvc.Models.Fields.ListViewModel

<!-- <label class="@Model.LabelCssClassSettings.CssClass">@Html.DisplayTextFor(t => Model.Title)</label> -->
@Html.Raw(@HttpUtility.HtmlDecode(Html.DisplayFor(t => Model.Title).ToString()))</label>
@foreach (var item in Model.Items)
{
    <label class="@Model.CssClassSettings.CssClass">
        <input type="radio" name="@Html.NameFor(m => Model.Value)"@if (item.Selected)
        {<text> checked</text>} value="@item.Value" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" data-sc-field-key="@Model.ConditionSettings.FieldKey" @Html.GenerateUnobtrusiveValidationAttributes(m => m.Value)/>@item.Text
    </label>
}
@Html.ValidationMessageFor(m => Model.Value)