@model AFI.Feature.QuoteForm.Areas.AFIQuoteForm.Models.CollectorForm.CollectorVehicleForm
@using AFI.Feature.QuoteForm.Areas.AFIWEB.Models.Form_Models
@{
    int i = 1;

    var stepsCount = Model.wayfinder.steps.Count;
    int j = 1;
    int n = 1;
}

<!-- ************************************************ -->
<!---------------------- MULTI-STEP 2 ------------------>
<!-- ************************************************ -->
<!-- VEHICLE SUMMARY -->
  @{
            Section dataitem = Model.form.sections.Where(x => x.id == "vehicleSummary").SingleOrDefault();
    }
<section class="form_section multi__step_2 summary__form">
    <div class="container">
        <!-- ******** STEP ******** -->
        <div class="step__container">
            <ul class="steps__list">
                @foreach (var step in Model.wayfinder.steps)
                {
                    <li class="step @(i <= 2 ? "active_step" : "")" data-text="@step.label">@i</li>
                    @Html.Raw(i != stepsCount ? "<li class='line'></li>" : "")
                    i++;
                }
            </ul>
        </div>
      
        <div class="quote_request__section_wrapper">
            <div class="form_container">
           
                <h2 class="quote_request_heading">@dataitem.heading</h2>
                <!-- Summary -->
                <div class="quote_request__summary">
                    <!-- Main Vehicle -->
                    <div class="quote_request__summary_item quote_request__summary_main_item">
                        <p class="quote_request__summary_item_info quote_request__summary_main_item_info"></p>
                        <div class="quote_request__summary_item_actions delete_edit">
                            <button id="mainVehicleEditBtn"
                                    class="button-bare"
                                    type="button">
                                Edit
                            </button>
                        </div>
                    </div>

                    <!-- Demo Vehicles Items -->
                    <div class="quote_request__summary_item demoItem __hide">
                        <p class="quote_request__summary_item_info"></p>
                        <div class="quote_request__summary_item_actions delete_edit">
                            <button id="deleteBtn"
                                    class="button-bare deleteBtn"
                                    type="button">
                                Delete
                            </button>
                            <button id="editBtn"
                                    class="button-bare editBtn"
                                    type="button">
                                Edit
                            </button>
                        </div>
                        <div class="quote_request__summary_item_actions yes_no __hide">
                            <!--Updated By  24.7.23 Start-->
                            <span>Are you sure?</span>
                            <!--Updated By 24.7.23 End-->
                            <button id="deleteYes"
                                    class="button-bare deleteYes"
                                    type="button">
                                Yes
                            </button>
                            <button id="deleteNo"
                                    class="button-bare deleteNo"
                                    type="button">
                                No
                            </button>
                        </div>
                    </div>
                    <!-- More Vehicles Items -->
                    <div id="moreVehicles"></div>
                </div>

                <!-- Add Button -->
                <button id="CVaddVehicle" class="button" type="button">
                    @Model.form.unique.AddVehicleButtonText
                </button>
            </div>
        </div>
    </div>
</section>


<!-- MAIN VEHICLE FORM -->
      @{
            Section data = Model.form.sections.Where(x => x.id == "vehicle").SingleOrDefault();
       }
<section class="form_section multi__step_2 add_vehicle__form">
    <div class="container">
        <!-- ******** STEP ******** -->
        <div class="step__container">
            <ul class="steps__list">
                @foreach (var step in Model.wayfinder.steps)
                {
                    <li class="step @(j <= 2 ? "active_step" : "")" data-text="@step.label">@j</li>
                    @Html.Raw(j != stepsCount ? "<li class='line'></li>" : "")
                    j++;
                }
            </ul>
        </div>
  
        <div class="quote_request__section_wrapper">
            <!-- ******* FORM  *******-->
            <div class="form_container">
                <!--Updated By  25.7.23 Start-->
                <button class="quote-request-sidebar__show-trigger" type="button">?</button>
                <!--Updated By 25.7.23 End-->
                <h2 class="quote_request_heading">@data.heading</h2>

                <!-- Year, Make, Model -->
                <div class="fields-row">
                    <div class="field field--small">
                        <div class="field__label-wrapper">
                            <label class="field__label" for="@data.fields[0].id">@data.fields[0].label</label>
                        </div>
                        <div class="field__input-wrapper">
                            <input class="field__input required numberOnly year"
                                   id="@data.fields[0].id"
                                   name="@data.fields[0].id"
                                   type="text"
                                   maxlength="4"
                                   placeholder=""
                                   value="" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="field__label-wrapper">
                            <label class="field__label" for="@data.fields[1].id">@data.fields[1].label</label>
                        </div>
                        <div class="field__input-wrapper">
                            <input class="field__input required"
                                   id="@data.fields[1].id"
                                   name="@data.fields[1].id"
                                   type="text"
                                   maxlength="50"
                                   placeholder=""
                                   value="" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="field__label-wrapper">
                            <label class="field__label" for="@data.fields[2].id">@data.fields[2].label</label>
                        </div>
                        <div class="field__input-wrapper">
                            <input class="field__input required"
                                   id="@data.fields[2].id"
                                   name="@data.fields[2].id"
                                   type="text"
                                   maxlength="50"
                                   placeholder=""
                                   value="" />
                        </div>
                    </div>
                </div>

                <!-- Type, Estimate Value of Vehicle -->
                <div class="fields-row">
                    <div class="field">
                        <div class="field__label-wrapper">
                            <label class="field__label" for="@data.fields[3].id">@data.fields[3].label</label>
                        </div>
                        <div class="field__input-wrapper">
                            <select class="field__input required"
                                    id="@data.fields[3].id"
                                    name="@data.fields[3].id"
                                    type="select">
                                <option value="">Choose One</option>
                                @foreach (Options opt in data.fields[3].options)
                                {
                                    <option value="@opt.value">@opt.label</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="field extra_message_margin">
                        <div class="field__label-wrapper">
                            <label class="field__label" for="@data.fields[4].id">@data.fields[4].label</label>
                        </div>
                        <div class="field__input-wrapper">
                            <input class="field__input required numberOnly dollar"
                                   id="@data.fields[4].id"
                                   name="@data.fields[4].id"
                                   type="text"
                                   maxlength="20"
                                   placeholder=""
                                   value="" />
                            <p class="field__note">@data.fields[4].note</p>
                        </div>
                    </div>
                </div>

                <!-- Vehicle Storage -->
                <div class="fields-row">
                    <div class="field field--xlarge">
                        <div class="field__label-wrapper">
                            <label class="field__label" for="@data.fields[5].id">@data.fields[5].label</label>
                        </div>
                        <div class="field__input-wrapper">
                            <select class="field__input required"
                                    id="@data.fields[5].id"
                                    name="@data.fields[5].id"
                                    type="select">
                                <option value="">Choose One</option>
                                @foreach (Options opt in data.fields[5].options)
                                {
                                    <option value="@opt.value">@opt.label</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Textarea = Describe how vehicle is driven -->
                <div class="fields-row">
                    <div class="field field--xxlarge field--extended-label">
                        <div class="field__label-wrapper">
                            <label class="field__label" for="@data.fields[6].id">
                                @data.fields[6].label
                            </label>
                        </div>
                        <div class="field__input-wrapper">
                            <textarea class="field__input required"
                                      id="@data.fields[6].id"
                                      name="@data.fields[6].id"
                                      placeholder=""></textarea>
                        </div>
                    </div>
                </div>

                <!-- Number of Licensed-->
                <div class="fields-row">
                    <div class="field field--xlarge field--extended-label">
                        <div class="field__label-wrapper">
                            <label class="field__label" for="@data.fields[7].id">@data.fields[7].label</label>
                        </div>
                        <div class="field__input-wrapper">
                            <select class="field__input required"
                                    id="@data.fields[7].id"
                                    name="@data.fields[7].id"
                                    type="select">
                                <option value="">Choose One</option>
                                @foreach (Options opt in data.fields[7].options)
                                {
                                    <option value="@opt.value">@opt.label</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Number Of Daily Use -->
                <div class="fields-row">
                    <div class="field field--xlarge field--extended-label">
                        <div class="field__label-wrapper">
                            <label class="field__label"
                                   for="@data.fields[8].id">@data.fields[8].label</label>
                            </div>
                            <div class="field__input-wrapper">
                                <select class="field__input required"
                                        id="@data.fields[8].id"
                                        name="@data.fields[8].id"
                                        type="select">
                                    <option value="">Choose One</option>
                                    @foreach (Options opt in data.fields[8].options)
                                    {
                                        <option value="@opt.value">@opt.label</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ******* ASIDE  *******-->
                @if (data.sidebar != null && data.sidebar.content.Count > 0)
                {
        <aside class="quote_request_aside">
            <h2 class="quote_request_sidebar__heading">@data.sidebar.heading</h2>
            <div class="quote_request_sidebar__content">
                @foreach (SideBarContent sideContent in data.sidebar.content)
                {
                    <div class="quote_request_sidebar__item">
                        <h3 class="quote_request_sidebar__item_heading">
                            @sideContent.heading
                        </h3>
                        <p class="quote_request_sidebar__item_description">
                            @sideContent.content
                        </p>
                    </div>
                }

            </div>
            <!--Updated By  25.7.23 Start-->
            <button class="button button--reversed quote-request-sidebar__hide-trigger" type="button">Close</button>
            <!--Updated By 25.7.23 End-->
        </aside>
                }
            </div>
        </div>
    </section>

    <!-- ADD MORE VEHICLE FORM -->
 <section class="form_section multi__step_2 add_more_vehicle_form">
        <div class="container">
            <!-- ******** STEP ******** -->
            <div class="step__container">
                <ul class="steps__list">
                    @foreach (var step in Model.wayfinder.steps)
                    {
                        <li class="step @(n <= 2 ? "active_step" : "")" data-text="@step.label">@n</li>
                        @Html.Raw(n != stepsCount ? "<li class='line'></li>" : "")
                        n++;
                    }
                </ul>
            </div>

            <div class="quote_request__section_wrapper">
                <!-- ******* FORM  *******-->
                <div class="form_container">
                    <!--Updated By  25.7.23 Start-->
                    <button class="quote-request-sidebar__show-trigger" type="button">?</button>
                    <!--Updated By  25.7.23 End-->
                    <h2 class="quote_request_heading">@data.heading</h2>

                    <!-- Year, Make, Model -->
                    <div class="fields-row">
                        <div class="field field--small">
                            <div class="field__label-wrapper">
                                <label class="field__label" for="@data.fields[0].id">@data.fields[0].label</label>
                            </div>
                            <div class="field__input-wrapper">
                                <input class="field__input required numberOnly year"
                                       id="@data.fields[0].id"
                                       name="@data.fields[0].id"
                                       data-field="Year"
                                       type="text"
                                       maxlength="4"
                                       placeholder=""
                                       value="" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="field__label-wrapper">
                                <label class="field__label" for="@data.fields[1].id">@data.fields[1].label</label>
                            </div>
                            <div class="field__input-wrapper">
                                <input class="field__input required"
                                       id="@data.fields[1].id"
                                       name="@data.fields[1].id"
                                       data-field="Make"
                                       type="text"
                                       maxlength="50"
                                       placeholder=""
                                       value="" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="field__label-wrapper">
                                <label class="field__label" for="@data.fields[2].id">@data.fields[2].label</label>
                            </div>
                            <div class="field__input-wrapper">
                                <input class="field__input required"
                                       id="@data.fields[2].id"
                                       name="@data.fields[2].id"
                                       data-field="Model"
                                       type="text"
                                       maxlength="50"
                                       placeholder=""
                                       value="" />
                            </div>
                        </div>
                    </div>

                    <!-- Type, Estimate Value of Vehicle -->
                    <div class="fields-row">
                        <div class="field">
                            <div class="field__label-wrapper">
                                <label class="field__label" for="@data.fields[3].id">@data.fields[3].label</label>
                            </div>
                            <div class="field__input-wrapper">
                                <select class="field__input required"
                                        id="@data.fields[3].id"
                                        name="@data.fields[3].id"
                                        data-field="Type"
                                        type="select">
                                    <option value="">Choose One</option>
                                    @foreach (Options opt in data.fields[3].options)
                                    {
                                        <option value="@opt.value">@opt.label</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="field extra_message_margin">
                            <div class="field__label-wrapper">
                                <label class="field__label" for="@data.fields[4].id">@data.fields[4].label</label>
                            </div>
                            <div class="field__input-wrapper">
                                <input class="field__input required numberOnly dollar"
                                       id="@data.fields[4].id"
                                       name="@data.fields[4].id"
                                       data-field="EstimatedValue"
                                       type="text"
                                       maxlength="20"
                                       placeholder=""
                                       value="" />
                                <p class="field__note">@data.fields[4].note</p>
                            </div>
                        </div>
                    </div>

                    <!-- Vehicle Storage -->
                    <div class="fields-row">
                        <div class="field field--xlarge">
                            <div class="field__label-wrapper">
                                <label class="field__label" for="@data.fields[5].id">@data.fields[5].label</label>
                            </div>
                            <div class="field__input-wrapper">
                                <select class="field__input required"
                                        id="@data.fields[5].id"
                                        name="@data.fields[5].id"
                                        data-field="Storage"
                                        type="select">
                                    <option value="">Choose One</option>
                                    @foreach (Options opt in data.fields[5].options)
                                    {
                                        <option value="@opt.value">@opt.label</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Textarea = Describe how vehicle is driven -->
                    <div class="fields-row">
                        <div class="field field--xxlarge field--extended-label">
                            <div class="field__label-wrapper">
                                <label class="field__label" for="@data.fields[6].id">
                                    @data.fields[6].label
                                </label>
                            </div>
                            <div class="field__input-wrapper">
                                <textarea class="field__input required"
                                          id="@data.fields[6].id"
                                          name="@data.fields[6].id"
                                          data-field="DriveDescription"
                                          placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ******* ASIDE  *******-->
                @if (data.sidebar != null && data.sidebar.content.Count > 0)
                {
            <aside class="quote_request_aside">
                <h2 class="quote_request_sidebar__heading">@data.sidebar.heading</h2>
                <div class="quote_request_sidebar__content">
                    @foreach (SideBarContent sideContent in data.sidebar.content)
                    {
                        <div class="quote_request_sidebar__item">
                            <h3 class="quote_request_sidebar__item_heading">
                                @sideContent.heading
                            </h3>
                            <p class="quote_request_sidebar__item_description">
                                @sideContent.content
                            </p>
                        </div>
                    }

                </div>
                <!--Updated By  25.7.23 Start-->
                <button class="button button--reversed quote-request-sidebar__hide-trigger" type="button">Close</button>
                <!--Updated By  25.7.23 End-->
            </aside>
                }
            </div>
        </div>
    </section>
